/* h1{
    background-color: blue;
} */
.post_container{
    width: 315px;
    height: 400px;
    border: 2px solid blue;
    background-color: white;
    margin-top:20px;
}
.post_header{
    height: 60px;
    border-bottom: 2px solid wheat;
    display: flex;
}
.fa-user{
/* min-height: 30px;
min-width: 30px; */
padding: 5px;
margin-top: 10px;

}
.post_user{
font-weight: bold;
margin-top: 12px;
}