*{
  margin: 0%;
  padding: 0%;
}

/* h1{
  color: blue;
}
h2{
  color: aqua;
}
h1{
 text-align: center;
}
.para{
  border: 2px solid blue;
  font-size: larger;
  text-align: center;
  background-color: aqua;
  width: 50%;
  display: flex;
  margin-left: 26%;
  display: block;
}
.Submit{
  color: antiquewhite;
  background-color: red;
  border-radius: 10px;
  display: flex;
  margin-left: 50%;
} */
.delete {
  background-color: red;
  color: white;
  padding: 5px;
  font-size: 1rem;
  margin: 4px;
  border-radius: 7px;
  outline: none;
}

.save {
  background-color: dodgerblue;
  color: white;
  padding: 5px;
  font-size: 1rem;
  margin: 4px;
  border-radius: 7px;
  outline: none;
}
p{
  border: 2px solid blue;
  width: 50%;
  background-color: bisque;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn{
  display: flex;
  justify-content: center;
}
h1{
  text-align: center;
  background-color: blue;
}
h2{
  text-align: center;
  background-color: black;
  color: white;
}